

<div class="container">
    <button (click)="onUserGet()" type="button" class="btn btn-default">Listar Usuários</button>
    <p class="padding-bottom"></p>
    <ul *ngFor="let user of users" class="list-group">
        <a href="#" class="list-group-item list-group-item-success">{{user.username}}<span class="badge">Id: {{user.id}}</span> </a>
    </ul>
</div>

<div class="container">
    <button (click)="onUserPost()" type="button" class="btn btn-default">Post User</button>
    <p>Output: {{postData}}</p>
</div>

<div class="container">
    <p>Insira o ID de um usuário</p>
    <input id="userid" type="number" step="1" pattern="\d+" />
    <p class="padding-bottom"></p>
    <button (click)="onUserGetId()" type="button" class="btn btn-default">Selecionar Usuário</button>
    <p class="padding-bottom"></p>
    <div *ngIf="getOneData">
        <a href="#" class="list-group-item list-group-item-success">{{getOneData.username}}<span class="badge">Id: {{getOneData.id}}</span> </a>
    </div>
</div>
