<div class="container">
    <p class="text-muted">Selecione uma opção:</p>
</div>
<div class="container">
    <button (click)="onUserGet()" type="button" class="btn btn-primary">Listar Usuários</button>
    <p class="padding-bottom"></p>
    <ul *ngFor="let user of users" class="list-group">
        <a href="#" class="list-group-item list-group-item-success">Nome: {{user.username}} | Senha: {{user.password}}<span class="badge">Id: {{user.id}}</span> </a>
    </ul>
</div>

<hr class="half-rule"/>

<div class="container">
    <p>Insira o ID de um usuário</p>
    <input id="userid" type="number" step="1" pattern="\d+" />
    <p class="padding-bottom"></p>
    <button (click)="onUserGetId()" type="button" class="btn btn-primary">Selecionar Usuário</button>
    <p class="padding-bottom"></p>
    <div *ngIf="getOneData">
        <a href="#" class="list-group-item list-group-item-success">Nome: {{getOneData.username}} | Senha: {{getOneData.password}}<span class="badge">Id: {{getOneData.id}}</span> </a>
    </div>
</div>

<hr class="half-rule"/>

<div class="container">
    <p>Nome</p>
    <input id="newusername" type="string" step="1"/>
    <p>Senha</p>
    <input id="newuserpassword" type="string" step="2"/>
    <p></p>
    <button (click)="onUserPost()" type="button" class="btn btn-primary">Cadastrar Usuário</button>
    <p>{{postData}}</p>
</div>

<hr class="half-rule"/>

<div class="container">
    <p>Insira o ID para remover</p>
    <input id="removeid" type="number" step="1" pattern="\d+" />
    <p class="padding-bottom"></p>
    <button (click)="onUserDelete()" type="button" class="btn btn-danger">Remover Usuário</button>
</div>

<hr class="half-rule"/>
