<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- navbar application -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><img src="https://s21.postimg.org/mabeneefr/Captura_de_tela_de_2017-06-18_15-31-13.png" class="profile-image" height="42" width="72"></li>
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</nav>

<app-httpuser></app-httpuser>